.main-header {
    background-color: #281822;
    color: #D3CBC4;
    padding-left: 1rem;   /* 1rem = 16px, це px-4 */
    padding-right: 1rem;  /* 1rem = 16px, це px-4 */
    padding-top: 1rem;    /* 1rem = 16px, це py-4 */
    padding-bottom: 1rem; /* 1rem = 16px, це py-4 */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 40;
    /* shadow-lg трохи складніше, але це приклад */
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}